<h1><%= @appointment.doctor.name %> Appointments</h1>

<h3>Doctor<%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor_id) %>
<h3>Patient<%= link_to <%= patient_path(@patient) %>"<%= @appointment.patient.name %></a></h3><br>
<h3>Date and Time: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></h3><br>
